numpy>=1.21.6,<2.0
onnxruntime>=1.15
opencv-python==4.10.0.84
pillow==10.2.0
torch>=2.4.0
torchvision>=0.15
tqdm==4.66.5
uniface==0.1.7
#pip install pyqt5


#python onnx_inference.py --source 0 --model resnet18_gaze.onnx

